.title-box {
  text-align: center;
  font-weight: bold;
  margin: 25px;
  padding: 25px;
}

.title {
  font-size: 2em;
}

.form-box {
  width: 80%;
  border: 1px solid black;
  min-height: 300px;
  text-align: center;
  margin-left: 10%;
  margin-top: 45px;
  margin-bottom: 55px;
  -webkit-box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
  -moz-box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
  box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-left: 10%;
  width: 80%;
}

.input {
  width: 60%;
  margin: 20px;
  padding: 12px;
}

form button {
  color: white;
  background-color: #345589;
}

#shelf {
  display: flex;
  flex-wrap: wrap;
}

.libraryItem {
  text-align: center;
  border: 1px solid grey;
  margin: 25px;
  padding: 20px;
  width: 25%;
  -webkit-box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
  -moz-box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
  box-shadow: 10px 10px 11px 1px rgba(74,74,74,1);
}

main {
  padding: 35px;
}